extends layout

block content
  h1= title
  p Welcome to #{title} 
  p This is assignment 10
  button(type="button",onclick="update()" ,class="btn btn-secondary") Press Me
  br

  hr
  div(id="target" )  Display 
  br
  
  
  script.
     let client_count = 0
     function update()
     {
       client_count = client_count+1;
       document.getElementById("target").innerHtml = "value now"+ client_count;

     }
  